#image {
    height:350px;
    width: 100% ;
    margin-bottom: 0px;
}

* {
    margin :0px;
}

.outside{
   position: relative;

}
 .inside {
   position:absolute;
   top:50%;
   left:50% ;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-family: 'Poppins', sans-serif;
 }


 


 .text {
    padding: 14px;
    margin-top: 0px;
    background-color: rgba(146,98,57,255);
    position: relative;
    bottom:4px;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 370;
 }

 .text1 {
    padding: 14px;
    background-color: white;
    color:rgba(146,98,57,255);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 370;
 }

 .maindiv {
    display: flex;
    width: 100%;
 }

 #div1{
 
   padding: 14px;
    background-color: rgba(146,98,57,255);
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 370;
 }
 #div2 {
    padding: 14px;
    background-color: white;
    color: rgba(146,98,57,255);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 370;
    }
 
 #div3{
   color: white;
    padding: 14px;
    background-color: rgba(146,98,57,255);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 370;
 }

 button {
   background-color:rgba(242,241,239,255);
   color: rgba(146,98,57,255);
   padding:5px; 
   border-radius: 7px;
   margin-top:10px;
   border: 1px solid rgba(146,98,57,255);
   font-family: 'Poppins', sans-serif;
   font-weight: 370;
 }
 .button {
   padding: 0 170px;
 }


 h1 , h5   {
   color: rgba(146,98,57,255);
   text-align: center;  
   font-family: 'Poppins', sans-serif;
   font-weight: 370;
 }



button:hover {
   background-color: rgba(235,230,221,255);
}

#newbutton {
   display: none;
}
