* {
   margin :0px;
}
body {
   font-family: 'Poppins', sans-serif;
}

#image {
    height:350px;
    width: 100% ;
    margin-bottom: 0px;
}

.outside{
   position: relative;
}

 .inside {
   position:absolute;
   top:50%;
   left:50% ;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
 .text {
    padding: 14px;
    margin-top: 0px;
    background-color: rgba(146,98,57,255);
    position: relative;
    bottom:7px;
    color:white;

    font-size: 12px;
    text-align: center;
    font-weight: 300;
 }

 .text1 {
    padding: 14px;
    background-color: white;
    color:rgba(146,98,57,255);

    font-size: 12px;
    text-align: center;
    font-weight: 300;
 }

 .maindiv {
    display: flex;
    width: 100%;
 }

 #div1{
 
   padding: 14px;
    background-color: rgba(146,98,57,255);
    color:white;

    font-size: 12px;
    font-weight: 300;
 }
 #div2 {
    padding: 14px;
    background-color: white;
    color: rgba(146,98,57,255);

    font-size: 12px;
    font-weight: 300;
    }
 
 #div3{
   color: white;
    padding: 14px;
    background-color: rgba(146,98,57,255);

    font-size: 12px;
    font-weight: 300;
 }

 button {
   background-color:rgba(242,241,239,255);
   color: rgba(146,98,57,255);
   padding:5px; 
   border-radius: 7px;
   margin-top:10px;
   border: 1px solid rgba(146,98,57,255);
   font-weight: 300;
   display: block;
   margin: 5px auto;
 }

h5{

   width: 100%;
}

 h1 , h5   {
   color: rgba(146,98,57,255);
   text-align: center;  
   font-weight: 300;
 }



button:hover {
   background-color: rgba(235,230,221,255);
}

#newbutton {
   display: none;
}
